:root{
    --cor-primaria:#0077ff;
    --cor-secundaria:#fff7f7;
    
}




.container-fluid{
    padding: 0 !important;
}

.navbarCustomizacao {
    background-color: var(--cor-primaria) ;
}

.palavraHeader{
    color: var(--cor-secundaria) !important;
    padding-left: 2%;
}

.palavraHeader :hover{
    color: black;
}
